In [1]:
import pandas as pd

Load the data and drop the Nan values

In [84]:
df_init = pd.read_csv('./data/interactive_data.csv')
df = df_init.loc[~(df=='None selected').any(axis=1)]

Looking at the first rows of the data

In [85]:
df.head()

,Unnamed: 0,Intent,Gender,Age,Race,Deaths,Population,Rate
151,152,Suicide,Female,Under 15,White,19,15355910,0.1
152,153,Suicide,Female,Under 15,Black,1,4095428,0.0
153,154,Suicide,Female,Under 15,Hispanic,4,7330024,0.1
154,155,Suicide,Female,Under 15,Asian/Pacific Islander,1,1393440,0.1
155,156,Suicide,Female,Under 15,Other,0,1661877,0.0

In [86]:
TOTAL_DEATH = df.Deaths.values.sum()

**Question 1**: What is the proportion suicides in the gun deaths ?

In [87]:
df_suicide = df[df.Intent =='Suicide']
total_suicide = sum(df_suicide.Deaths.values)
ratio_suicide = (total_suicide/TOTAL_DEATH)

In [88]:
print("In total "+"{:.2%}".format(ratio_suicide)+" of the gun deaths is in the category 'suicide'")

In total 62.68% of the gun deaths is in the category 'suicide'

**Question 2**: More than 85 percent of suicide victims are male ?

In [89]:
df_suicide_male = df[(df.Intent =='Suicide') & (df.Gender =='Male')]
total_suicide_male = sum(df_suicide_male.Deaths.values)
ratio_suicide_male = (total_suicide_male/total_suicide)

In [90]:
print("In total "+"{:.2%}".format(ratio_suicide_male)+" of the suicide are from the gender 'male'.")

In total 86.24% of the suicide are from the gender 'male'.

**Question 3**: Around a third of all gun deaths are homicides ?

In [91]:
df_homicide = df[df.Intent =='Homicide']
total_homicide = df_homicide.Deaths.values.sum()
ratio_homicide = (total_homicide/TOTAL_DEATH)

In [92]:
print("In total "+"{:.2%}".format(ratio_homicide)+" of the gun deaths is in the category 'homicide'.")

In total 34.91% of the gun deaths is in the category 'homicide'.

**Question 4**:Around 2/3 of homicide victims who are males in the age-group of 15--34 are black.

In [93]:
df_select_Q4 = df[(df.Intent =='Homicide') & (df.Gender =='Male') & (df.Age =='15 - 34')]
df_select_Q4_black = df[(df.Intent =='Homicide') & (df.Gender =='Male') & (df.Age =='15 - 34') & (df.Race =='Black')]
total_select_Q4 = sum(df_select_Q4.Deaths.values)
total_select_Q4_black = sum(df_select_Q4_black.Deaths.values)
ratio_homicide = (total_select_Q4_black/total_select_Q4)

In [94]:
print("In total "+"{:.2%}".format(ratio_homicide)+" of the gun deaths is in the category 'homicide', with gender 'male', in the age '15-34' are black")

In total 66.12% of the gun deaths is in the category 'homicide', with gender 'male', in the age '15-34' are black

**Question 5**: Women constitue only 15 percent of the total homicide victims.

In [95]:
df_homicide_women = df[(df.Intent =='Homicide') & (df.Gender =='Female')]
total_homicide = sum(df_homicide.Deaths.values)
total_homicide_women = sum(df_homicide_women.Deaths.values)
ratio_homicide_women = (total_homicide_women/total_homicide)

In [96]:
print("In total "+"{:.2%}".format(ratio_homicide_women)+" of the homicide is in the are from the gender 'Female'.")

In total 15.29% of the homicide is in the are from the gender 'Female'.